In [2]:
import pandas as pd

In [8]:
exists = False
for i in range(1,4):
    df = pd.read_csv('data/res/' + str(i) + '_landic_un_zavitan.counts.txt', sep='\t', comment='_', header=None)
    df.columns = ['gene','count' + str(i)]
    if not exists:
        exists = True
        df_res = df
    else:
        df_res = pd.merge(df_res, df, on='gene')
print(len(df_res.index))
df_res.sample(3)

338361

                    gene  count1  count2  count3
228621  TRIDC5Bv2G127940       0       0       0
82271   TRIDC2Bv2G124350       0       0       0
164764  TRIDC4Av2G177980       0       0       0

In [9]:
df_res = df_res[df_res.count1 + df_res.count2 + df_res.count3 > 0]

In [10]:
print(len(df_res.index))
df_res.sample(3)

31077

                    gene  count1  count2  count3
174112  TRIDC4Bv2G029620       2       1       0
12826   TRIDC1Av2G128270       9       7       4
141067  TRIDC3Bv2G193790       2       2       0

In [15]:
df_ann = pd.read_csv('data/genomes/zavitan.gff3', header=None, comment='#', sep='\t')
df_ann.columns = ['seqname' , 'source' , 'feature' , 'start' , 'end' , 'score' , 'strand' , 'frame' , 'attribute']
print(len(df_ann.index))
df_ann.sample(3)

2603098

,seqname,source,feature,start,end,score,strand,frame,attribute
1479611,chr4B,PGSB_Mar2017,CDS,654087913,654088103,.,-,2,Parent=TRIDC4Bv2G184130.1
103172,chr1A,PGSB_Mar2017,gene,441814863,441827322,.,-,.,ID=TRIDC1Av2G142830;primconf=HC
998115,chr3B,PGSB_Mar2017,mRNA,231990374,231990910,.,-,.,ID=TRIDC3Bv2G074050.1;Parent=TRIDC3Bv2G074050;...

In [16]:
df_ann = df_ann[df_ann.feature == 'gene']
print(len(df_ann.index))
df_ann.sample(3)

338361

,seqname,source,feature,start,end,score,strand,frame,attribute
2417861,chr7B,PGSB_Mar2017,gene,144869555,144869863,.,-,.,ID=TRIDC7Bv2G047630;primconf=LC
1504637,chr5A,PGSB_Mar2017,gene,48910823,48911131,.,+,.,ID=TRIDC5Av2G021400;primconf=LC
1746186,chr5B,PGSB_Mar2017,gene,278572246,278572932,.,+,.,ID=TRIDC5Bv2G082340;primconf=HC

In [ ]:
#clean df_ann to get gene name, chr and positions

In [ ]:
#merge counts and position so we can check in IGV